target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/fbfc9419-4ed6-4f1d-92ab-d72760ff3d20/storage_v2/_src_/database/carwashbd.9cPsEQ.meta
/.idea/dataSources/fbfc9419-4ed6-4f1d-92ab-d72760ff3d20/storage_v2/_src_/database/carwashbd.9cPsEQ/schema/public.abK9xQ.meta
/.idea/uiDesigner.xml
/.idea/dataSources/fbfc9419-4ed6-4f1d-92ab-d72760ff3d20.xml
